/*defindo pré definições para todos os elementos*/

* {
    margin: 0;
    top: 0;
    padding: 0;
    bottom: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* conteiner principal que abriga todos os outros*/

.conteiner {
    background: linear-gradient(to right, rgb(195, 46, 46), rgb(26, 162, 196));
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* conteiner que vai abrigar o modal inico de jogo*/

.modalInicioJogo {
    z-index: 1;
    width: 50%;
    height: 80vh;
    margin-top: 10vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/*estilizando a parte do modal de game over*/

.gameOver {
    width: 30%;
    height: 20%;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(to right, orangered, orange);
    box-shadow: 0px 0px 30px rgba(0,0,0,1);

}
.gameOver p {
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 30px;
}

/* ajustando o modal inicio de jogo*/

.inicioJogo {
    width: 40%;
    height: 35%;
    background-color: rgba(0,0,0, 0.3);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
    flex-direction: column;
}

/* aumentando o tamanho do elemento de texto do controle*/

.inicioJogo p {
    font-size: 30px;
    font-weight: bold;
}

/* div icones que abriga os elementos icones e estiliza eles*/

.icones{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: rgba(0,0,0, 0.3);
    color: rgba(255,255,255,0.5);
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

/* botao referente ao inicio de jogo. sua estilização e seu efeitos de hover e sua animação quando for ativo*/

.botaoInicioJogo {
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0,0,0, 0.3);
    border: 4px solid white;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.botaoInicioJogo:hover {
    background-color: orangered;
    border: 4px solid orange;
}
.botaoInicioJogo:active {
    animation: animationBotaoInicioJogo 2s ease;
}
@keyframes animationBotaoInicioJogo {
    from {
        background-color: rgba(0,0,0, 0.3);
    }
}

/* ajustando a div escore que abriga os elementos da pontuação do jogo*/

.score {
    z-index: 1;
    margin-top: 7%;
    margin-left: -33%;
    position: absolute;
    width: 13%;
    height: 8vh;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}
.score p {
    font-size: 20px;
    font-weight: bold;
    color:black;
}

/* estilizando os conteiners dentro de score*/

.scoreInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: 5px;
    width: 100%;
}
.scorePont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 100%;
}

/* estilizando o footer e os elementos dentro dele*/

footer {
    width: 100%;
    height: 40px;
    padding: 10px;
    position: absolute;
    margin-top: auto;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
footer p {
    font-size: 12px;
}
footer a {
    color: white;
}

/* ajustando a altura das imagens dos controles laterais*/

.conteiner img {
    height: 81vh;
}

/* conteiner central onde os elemtos do jogo vao ser incluidos*/

.painelJogo {
    height: 80vh;
    width: 50%;
    border: 20px solid rgb(26, 24, 24);
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* imagem que esta sendo utilizada como fundo do jogo*/

#backgroundJogo {
    height: 100%;
    width: 100%;
    position: absolute;
}

/* estilização da imagem que será o carro da maquina na parte esqueda da tela*/

#carMaquinaLeft {
    width: 50px;
    height: 85px;
    margin-top: -12vh;
    position: absolute;
    margin-left: -13%;
    
}

/* estilização da imagem que será o carro da maquina na parte direita da tela*/

#carMaquinaRigth {
    width: 50px;
    height: 85px;
    margin-top: -12vh;
    position: absolute;
    margin-left: 13%;
}

/* estilização do carro do jogador que ira ter animações para esquerda e para direita*/

#carPlayer {
    display: none;
    width: 120px;
    height: 100px;
    margin-top: 62vh;
    position: absolute;
    margin-left: 13%;
    
}

/* animaçao do carro da maquina vir de cima para baixo*/

@keyframes animationCarMaquina {
    from {
        margin-top: -12vh;
    } to {
        margin-top: 75vh;
    }
}

/* animação do carro do jogador fazendo o movimento de ir para a esquerda*/

@keyframes animationCarPlayerLeft {
    from {
        margin-left: 13%;
    } to {
        margin-left: -13%;
    }
}

/* animação do carro do jogador fazendo o movimento de ir para a direita*/

@keyframes animationCarPlayerRigth {
    from {
        margin-left: -13%;
    } to {
        margin-left: 13%;
    }
}